* {
  box-sizing: border-box;
}

clearfix::after,
clearfix::before {
  clear: both;
  content: '';
  display: table;
}

.header-container {
  top: 0;
  left: 0;
  z-index: 1;
  position: sticky;
}

.created-date {
  color: #4d4d4d;
}

.login-header {
  top: 20%;
  left: 50%;
  z-index: 1;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  position: absolute;
  transform: translateX(-50%);
}

.child-comment {
  padding: 0 25px;
}

.list-container .progress-bar {
  width: 70%;
  margin: 0 auto;
  background-color: #ffa9ac;
}

.progress-bar .indeterminate {
  background-color: #ed6e73;
}
.local-container {
  width: 100%;
}

.header-content {
  top: 0;
  z-index: 1;
  color: white;
  position: fixed;
  font-size: 18px;
  min-height: 100px;
  font-weight: bold;
}

.errors {
  left: 50%;
  bottom: 25%;
  width: 100%;
  font-size: 18px;
  color: #ee6e73;
  text-align: center;
  position: absolute;
  transform: translateX(-50%);
}

.btn-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.login-page-buttons {
  margin: 10px;
  background-color: #ee6e73;
}

.login-page-buttons input {
  color: white;
}

.login-page-buttons input:focus {
  background: #ee6e73;
}

.app-header {
  color: white;
  font-size: 18px;
  padding: 10px 0;
  font-weight: bold;
  text-align: center;
  background: #ee6e73;
}

.nav-tabs {
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.list-container ul li {
  cursor: pointer;
}

.each-list {
  padding: 15px;
  font-size: 16px;
  color: #5c5c5c;
}

.list-container {
  background-color: #f0f0f096;
}

.comment-list {
  margin: 10px;
  padding: 15px;
  overflow: hidden;
  background-color: #eaeaea;
}

.form-holder {
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  padding: 100px 30px !important;
}

.news-pagination button {
  position: absolute;
  bottom: 2%;
  text-align: center;
  width: 30px !important;
  height: 30px !important;
  position: fixed;
}

.news-pagination button i {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  line-height: 0 !important;
}

.news-pagination .previous-page {
  left: 30%;
}

.news-pagination .next-page {
  right: 30%;
}

@media screen and (min-width: 480px) {
  .btn-container {
    text-align: left;
  }

  .col.s12.form-holder {
    width: 70%;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    border: 1px solid #ebebeb;
    box-shadow: 5px 3px 5px -1px rgba(142, 142, 240, 0.3);
  }

  .local-container {
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  .col.s12.form-holder {
    width: 65%;
  }
}

@media screen and (min-width: 992px) {
  .col.s12.form-holder {
    width: 50%;
  }

  .local-container {
    width: 80%;
  }

  .nav-tabs {
    width: 33%;
  }
}
